<h1 mat-dialog-title>Adicionar Tutor</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="pessoaForm">
    <mat-form-field class="example-full-width">
      <mat-label>Nome completo</mat-label>
      <input required matInput formControlName="nome" name="nome">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Idade</mat-label>
      <input required matInput formControlName="idade" name="idade">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Trabalho</mat-label>
      <input required matInput formControlName="trabalho" name="trabalho">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Genero</mat-label>
      <mat-select required formControlName="genero" name="genero">
        <mat-option value="Feminino">Feminino</mat-option>
        <mat-option value="Masculino">Masculino</mat-option>
        <mat-option value="Outro">Outro</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="criarPessoa()">Adicionar</button>
  <button mat-button (click)="cancelar()">Cancelar</button>
</div>
