<h1 mat-dialog-title>Adicionar Tutor</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="pessoaForm">
    <mat-form-field class="example-full-width">
      <mat-label>Nome completo</mat-label>
      <input matInput formControlName="nome" name="nome">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Idade</mat-label>
      <input matInput formControlName="idade" name="idade">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Trabalho</mat-label>
      <input matInput formControlName="trabalho" name="trabalho">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Genero</mat-label>
      <input matInput formControlName="genero" name="genero">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="criarPessoa()">Adicionar</button>
  <button mat-button (click)="cancelar()">Cancelar</button>
</div>
